
<body>  

    <div class="card col-md-4 mx-auto">
      <div class="card-header text-center">
        <h5 style="color: black;font-weight: bold; font-size: 28px;">Registrate</h5>
      </div>
    
    
    
    <form action="/articulo" method="get">
        <div class="entrada mb-3 mt-3">
            <i class="fa-solid fa-user"></i>
            <input type=""  class="form-control " id="" aria-describedby="emailHelp" placeholder="Nombre Completo">
          </div>
        <div class="entrada mb-3 mt-3">
          <i class="fa-solid fa-envelope"></i>
          <input type="email"  class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo Electronico">
        </div>
        <div class="entrada mb-3 mt-3">
          <i class="fa-solid fa-phone"></i>
            <input type="tel"  class="form-control " id="" aria-describedby="emailHelp" placeholder="Telefono/Celular">
          </div>
        <div class="entrada mb-3 mt-3">
          <i class="fa-solid fa-key"></i>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
        </div>
        <div class="entrada mb-3 mt-3">
          <i class="fa-solid fa-rotate-right"></i>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Repetir contraseña">
        </div>
        
        <button type="submit" class="btn btn-dark">Registrate</button>
        <br>
        <div id="emailHelp" class="form-text">Al registrarte, aceptas nuestras Condiciones de uso y Politica de privacidad</div>
        <br>
        <div id="emailHelp" class="form-text">¿Ya tienes una cuenta? <a href="/login">Iniciar Sesion</a></div>
      </form>
    </div>
    </body>