
<body>  

<div class="card col-md-4 mx-auto">
  <div class="card-header text-center">
    <h5 style="color: black;font-weight: bold; font-size: 28px;">Login</h5>
  </div>



<form action="/articulo" method="get">
    <div class="entrada mb-3 mt-3">
      <i class="fa-solid fa-envelope"></i>
      <input type="email"  class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo Electronico">
    </div>
    <div class="entrada mb-3 mt-3">
      <i class="fa-solid fa-key"></i>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
    </div>
    
    <button type="submit" class="btn btn-dark">Login</button>
    <br>
    <div id="emailHelp" class="form-text">Al registrarte, aceptas nuestras Condiciones de uso y Politica de privacidad</div>
    <br>
    <div id="emailHelp" class="form-text">¿No tienes una cuenta? <a href="/registro">Regístrarte</a></div>
  </form>
</div>
</body>